 .u-section-1 {
  background-image: url("images/WLHEADER.png");
}

.u-section-1 .u-sheet-1 {
  min-height: 345px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 500px;
  }
}